

.container {
	margin: 0 auto;
	max-width: 960px;
}

header {
padding-top: 50px;
padding-bottom: 50px;
border-bottom: 3px #000 solid;
}

h1 {
	font-family: "Lato" Helvetica sans-serif;
	font-size: 54px;
	color: 171c20;
	line-height: 1.6;
	text-align: center;
}

a {
	padding-top: 50px;
	width: 33%;
	float: left;
	text-decoration: none;
}

button {
	font-family: "Lato" Helvetica sans-serif;
	font-size: 18px;
	color: #FFF;
	padding: 18px;
	background-color: #000;
	border-radius: 5px;
	max-width: 150px;
	margin: 0 auto;
	display: block;
}

button:hover{
	border: 1px solid #999;
}